<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youqusoft.vision.flow.modules.product.mapper.CategoryMapper">

    <!-- 获取商品分类分页列表 -->
    <select id="getCategoryPage" resultType="com.youqusoft.vision.flow.modules.product.model.vo.CategoryVO">
        SELECT
                id,
                name,
                parent_id,
                sort_order,
                description,
                is_active,
                is_deleted,
                create_time,
                update_time
        FROM
            category
        <where>
            is_deleted = 0
        </where>
    </select>

</mapper>
