<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youqusoft.vision.flow.modules.product.mapper.ProductMapper">

    <!-- 获取商品信息分页列表 -->
    <select id="getProductPage" resultType="com.youqusoft.vision.flow.modules.product.model.vo.ProductVO">
        SELECT
            p.id,
            p.tenant_id,
            p.product_code,
            p.category_id,
            c.name as category_name,
            p.brand_id,
            b.name as brand_name,
            p.name,
            p.model,
            p.attributes,
            p.is_active,
            p.is_deleted,
            p.create_time,
            p.update_time
        FROM
            product p
        left join category c on p.category_id = c.id
        left join brand b on p.brand_id = b.id
        <where>
            p.is_deleted = 0
            <if test="queryParams.keywords != null">
                and p.name like concat('%', #{queryParams.keywords}, '%')
            </if>
            <if test="queryParams.categoryId != null">
                and p.category_id = #{queryParams.categoryId}
            </if>
            <if test="queryParams.brandId != null">
                and p.brand_id = #{queryParams.brandId}
            </if>
        </where>
    </select>

</mapper>