<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youqusoft.vision.flow.tenant.mapper.TenantUserMapper">

    <!-- 获取租户用户（多租户）分页列表 -->
    <select id="getTenantUserPage" resultType="com.youqusoft.vision.flow.tenant.model.vo.TenantUserVO">
        SELECT
                id,
                tenant_id,
                username,
                email,
                phone,
                password_hash,
                real_name,
                avatar_url,
                role,
                department,
                is_active,
                last_login_at,
                created_at,
                updated_at
        FROM
            saas_tenant_user
        <where>
        </where>
    </select>

</mapper>
